/** Slider **/

a{
	-webkit-transition: all 1s ease;
 	-moz-transition: all 1s ease;
       	-o-transition: all 1s ease;
      	-ms-transition: all 1s ease;
        transition: all 1s ease;
}

.region-mass-top {
	position: relative;
	min-height: 320px;	
	background-color: #F5F5F5;
	}

.views-field-type {
	position: absolute;
	top:250px;
	z-index: 6;
	left: 5px;
}
	
.type {
	width: 100%;
	height: 25px;
	background-color: red;
	z-index: 3;

}
.type h3 {
	color: red;	
	}

.views-slideshow-controls-bottom {
	position: relative;
	top: 120px;
	left:590px;	
	width: 275px;
	}

#slideshow-pager-image {
	margin-bottom: 5px;
	-webkit-transition: all 1s ease;
 	-moz-transition: all 1s ease;
       	-o-transition: all 1s ease;
      	-ms-transition: all 1s ease;
        transition: all 1s ease;
	}

#slideshow-pager-image:hover {

}


.slide-content {
	position: absolute;	
	width: 535px;
	height: 60px; 
	top: 258px;
	background-color: black;
	z-index: 1;
	overflow:hidden;
	opacity: 0.5;
	
	}

.slide-title {
	position: absolute;	
	width: 535px;
	height: 60px; 
	top: 258px;
	left: 5px;
	z-index: 6;
	overflow:hidden;
	padding-top: 20px;

	}	

.views-field-title h3 a {
	color:white !important;
	font-size: 15px !important;
}
.views-field-title h3 a:hover {
	text-decoration: underline !important;	
	}
	
.slide-content p {
	/*Cambiado de posicion*/
		
	}

.slide-content p:hover {
	color: white;	
	}

.autor {
	position: absolute;
	z-index: 5;
	color: white;
	width: 250px;
	top: 295px;
	left: 5px;	
	}

.images {
	position: absolute;
	z-index: -1
	}
